body {
	font-size: 0px;
	margin: 0px;
	padding: 0px;
}

header {
	text-align: center;
	font-family: 'Merienda One', cursive;
	background: linear-gradient(rgb(170, 66, 3), rgb(255, 255, 255));
	padding: 30px;
}

header h1 {
	color: rgb(33, 35, 30);
}

h1 {
	color: #C1C1C1;
	font-size: 60px;
}

img {
	margin-left: auto;
	margin-right: auto;
}

.contact img{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.container { 
	font-size: 12px;
	text-align: center;
	font-family: 'Cantarell', sans-serif;
}

.description {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 70px;
}

.description p {
	margin-top: 0px;
}

.fix-nav {
	position: fixed;
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.498039);
	top: 0px;
	padding: 30px 0px;
	text-align: center;
	width: 100%;
}

.fix-nav p {
    padding: 40px 70px;
    display: inline;
    font-size: 40px;
}

.fix-nav a {
    text-decoration: none;
    color: rgb(192, 43, 24);
}

.float-right {
	height: 120px;
	width: 120px;
	border-radius: 30px;
	margin-left: 10px;
	float: right;
	margin-bottom: 0px;
}

.imgborder {
    border:1px solid #C1C1C1;
	border-radius: 10px;
}

.intro {
	font-size: 20px;
	width: 85%;
	margin: auto;
	padding-top: 10px;
}

.intro a {
	color: red;
}

.nav  {
	margin: 40px 0px;
	text-align: center;
	width: 100%;
}

.nav a{ 
	text-decoration: none; 
	color: rgb(192, 43, 24);
}

.nav a:hover {
 	text-decoration: underline;
}
 
.nav p{ 
	padding: 0px 70px;
	display:inline;
	font-size:40px;
}

.projects {
	margin: 40px 0px;
	font-size: 20px;
	padding-top: 10px;
}

.projects a {
	color: red;
}

.projects p {
	padding-top: 0px;
	padding-bottom: 0px;
}

.project-wrap {
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	padding: 20px;
}

.project-wrap:nth-child(even) {
	background: radial-gradient(circle, rgb(255,240,240), rgb(255,255,255));
}

.screenshot {
	display: inline-block;
	vertical-align: middle;
	width: 30%;
}

@media (max-width: 1143px) {
	header h1 {
		font-size: 50px;
	}
}

@media (max-width: 1070px) {
	.screenshot {
		display: block;
		width: 100%;
	}

	.description {
		width: 85%;
		display: block;
		margin-right: auto;
  		margin-left: auto;
		position: static;
	}

	.project-wrap {
		margin-bottom: 0px;
		border-bottom: 2px solid grey;
		padding-bottom: 20px;
	}

}

@media (max-width: 965px) {
	header {
		padding: 10px;
	}
}

@media (max-width: 925px) {

	.nav p{ 
		padding: 0px 35px;
	}

	.projects {
	  margin: 30px 0px;
	}

	.projects p {
  		padding-bottom: 0px;
	}

}

@media (max-width: 923px) {
	header h1 {
		font-size: 40px;
	}
}

@media (max-width: 745px) {

	h1 {
		font-size: 30px;
		margin-bottom: 0px;
	}

	header h1 {
		font-size: 30px;
	}

	.description {
		width: 100%;
	}

	.nav p {
  		font-size: 30px;
	}



}

@media (max-width: 600px) {

	.nav p{ 
		padding: 0px 25px;
		font-size: 25px;
	}

	.projects {
	  margin: 20px 0px;
	}

	.projects img {
		width: 50%;
	}

}

@media (max-width: 562px) {

	header h1 {
		font-size: 25px;
	}

	.projects, .intro {
	  font-size: 16px;
	}

}

@media (max-width: 470px) {

	header h1 {
		font-size: 23px;
	}

	.nav p{ 
		padding: 0px 25px;
		font-size: 20px;
	}

	.projects {
	  margin: 10px 0px;
	}

}

@media (max-width: 435px) {

	header h1 {
		font-size: 20px;
	}

	.contact {
		width: 70%;
		margin: auto;
	}

	.contact img {
		display: inline;
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media (max-width: 410px) {

	.nav p{ 
		padding: 0px 20px;
		font-size: 20px;
	}

}
